
html,
body {
	font-family: 'SF-Pro-Text-Regular', -apple-system, BlinkMacSystemFont, sans-serif;
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	max-width: 415px;
  margin: 0 auto;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  padding: 0 20px;
}





