$text--bg-white: #1A1A1A;
$text--bg-dark: #FFFFFF;
$primary: #FCA759;
$secondary: #FCBF59;
$color__block--bg-white: #F3F2F9;
$color--bg: white;
$color__block--bg-dark: #373640;
$color--bg-dark: black;

%title-font {
  font-family: 'SF-Pro-Text-Bold', -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: bold;
}