@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';



  
  .header {
    padding: 47px 0 73px;
    height: 471px;
    background: url(./../images/header--bg.png) no-repeat center;
  
    &__btn {
      display: block;
      padding: 0 12px;
      border: none;
      background: transparent;    
      margin-left: auto;
      margin-right: 0;
    }
    
    &__btn--svg:hover {
      fill: $primary;
    }
  
    &__title {
      @extend %title-font;
      padding: 0 0 34px 4px;
      text-align: center;
      margin: 0 auto;
      font-size: 30px;
      line-height: 37px;
      letter-spacing: 0.37px;
      color: white;
    }

    &__chart {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        top: -11%;
        left: 45.5%;
        width: 132px;
        height: 250px;
        background: url(./../images/girl.png) no-repeat center;
      }
    }
  }


  .subscribe {


    &__wrapper {
      padding-top: 100px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
    }

    &__block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;    
      border: none;
      background: $color__block--bg-white;
      padding: 0;
    
      &:active,
      &:hover,
      &:focus {
        background: linear-gradient(225deg, #894AC9 0%, #4D46B1 100%);
      }
    }

    &__block-header {
      width: 100%;
      font-size: 13px;
      line-height: 15px;
      @extend %title-font;
      text-align: center;
    }

    & .block-header--1 {
      background: white;
    }

    & .block-header--2 {
      background: $secondary;
      color: $text--bg-white;
    }

    & .block-header--3 {
      background: $primary;
      color: $text--bg-white;
    }
  }


  
  
  @media (max-width: 375px) {
    
  }

  @media (max-width: 320px) {
    
  }


